* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

:root{

  font-size: 16px;
}


// **** Pills Variables' Styles ****

// background colors
$bad-back : #ED8282;
$good-back: #77C2AD;
$excellent-back: #25A4E2;

// text colors
$bad-txt: #501515;
$good-txt: #2b4941;
$excellent-txt: #0d354a;




// **** End Pills Variables' Styles ****


.bad-dot {
  color: $bad-back;
}

.good-dot {
  color: $good-back;
}

.excellent-dot {
  color: $excellent-back;
}


.numbers {
  font-size: 2em;
}


// ***** ANIMATIONS *****

@keyframes appearIn {

    0% { transform: scale(0) translateY(24px);}
  100% { transform: scale(1) translateY(0px);}
}

@keyframes somethingWrong {

   0%{ transform: rotate(0deg); opacity: 0; }
  10%{ transform: rotate(20deg); }
  20%{ transform: rotate(-20deg); }
  30%{ transform: rotate(15deg); }
  40%{ transform: rotate(-15deg); }
  50%{ transform: rotate(10deg); }
  60%{ transform: rotate(-10deg); }
  70%{ transform: rotate(2deg); }
  80%{ transform: rotate(-2deg); }
 100%{ transform: rotate(0deg); opacity: 1; }
}

@keyframes excellentMotion {

    0% { transform: scale(0);}
   70% { transform: scale(1.3);}
  100% { transform: scale(1);}
}


// ***** END ANIMATIONS *****


  // Mood Pills animation kick off (aka appearIn)
  .appearIn {
    animation: appearIn 0.5s ease-in-out both;
  }

  .somethingWrong {

    animation: somethingWrong 0.5s ease-in-out both;

  }

  .excellentMotion {

    animation: excellentMotion 0.5s ease-in-out both;
  }
  


// ***** MIXINS *****


@mixin card {
  background-color: #fafafa;
  border-radius: 32px;
  padding: 32px;
  margin: 8px;
  box-shadow: 0px 2px 6px rgba(88, 88, 88, 0.322);
}



@mixin pillSkelleton {

  padding: 8px;
  margin: 4px;
  border-radius: 16px;

  
}

// ***** END MIXINS *****



.logo {
  padding: 16px;
  grid-column: 1/4;
}


.global-container {
  display: grid;
  grid-template-columns: auto 3fr;
  
}




.right-bar {

  top: 0px;
  height: 100vh;
  grid-column: 1;
  border-right: 1px solid rgba(128, 128, 128, 0.309);
  padding: 4px;
  overflow-y: scroll;
  
}


.right-bar::-webkit-scrollbar{
  width: 2px;
}

.history-area {
  display: inline-flex;
  grid-column: 2/3;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 4px;
  height: 100vh;

}



.main-card {
  display: grid;
  max-width: 300px;
  justify-items:stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  @include card();
  transition: all 0.5s ease-in;
  
}

.main-card:hover, .statistics-card:hover {


  box-shadow: 0px 4px 10px rgba(88, 88, 88, 0.171);
  

}


.statistics-card {

  @include card();
  max-width: 300px;
  transition: all 0.5s ease-in;

}

.main-title {
  grid-column: 1/4;
  justify-self: center;

}




// feedback buttons
.button{
  grid-row: 2;
  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  outline-style: solid;
  outline-width: 2px;
  border: none;
  

} 

.button:hover{

  border-radius: 16px;
  padding: 16px;
  margin: 8px;
  outline-color: rgb(199, 199, 199);

}



// Pills are the border-rounded rectangles that contain the history return
.pill{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}

.pill:hover {

  box-shadow: 2px 4px  8px rgba(53, 53, 53, 0.353);
  border-radius: 8px;
}





.bad {

  color: $bad-txt;
  background-color: $bad-back;
  outline-color: transparent;
  transition: all 0.3s ease-in-out;
  
  
}





.good {

  color: $good-txt;
  background-color: $good-back;
  outline-color: transparent;
  transition: all 0.3s ease-in-out;
  
  
}




.excellent {

  color: $excellent-txt;
  background-color: $excellent-back;
  outline-color: transparent;
  transition: all 0.3s ease-in-out;
  
  
}

.bad:hover, .good:hover, .excellent:hover {

  box-shadow: 2px 4px  8px rgba(137, 137, 137, 0.353);
}


.no-pointer {
  pointer-events: none;
  opacity: 0.7;
}



.bad-pill {

  @include pillSkelleton();
  background-color: $bad-back;
  color: $bad-txt;

}


.good-pill {

  @include pillSkelleton();
  background-color: $good-back;
  color: $good-txt;


}


.excellent-pill {

  @include pillSkelleton();
  background-color: $excellent-back;
  color: $excellent-txt;
  


}


.ind-quant-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.total-quant-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}


.divider {

  margin: 16px 0;
  opacity: 0.5;
}

.subtitle {
  margin: 0 0 16px 0;
}


footer {

  background-color: $excellent-back;
  grid-row: 2;
}



// PRESENTATION

.presentation {
  color:rgb(0, 53, 3);
  padding: 16px;
}